input, textarea, .dropdown {
    margin-bottom: 5px;
}

body {
    padding: 60px 0px;
}

img {
    width: auto;
    max-width: 100%;
    max-height: 300px;
}

.youtube {
    width: 560px;
    height: 315px;
    max-width: 100%;
}


/*add .nja??
*/

.navbar-default {
    background-color: #337ab7;
}

.navbar-header .navbar-right span {
    padding-right: 5px;
}

.navbar-brand .glyphicon-chevron-left {
    padding-right: 20px;
}

/*make apply this only to this case */
@media (min-width: 0px) {
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav li a {
    color: white;
    font-weight: bold;
}

.active .glyphicon {
    color: white;
}

.nja-split-view-left {
    position: absolute;
    top: 50px;
    bottom: 50px;
    padding-top: 10px;
    z-index: 1;
    overflow-y: scroll;
    border-right: 1px solid #CCCCCC;
}

@media(min-width: 1200px) {
    .col-lg-9.nja-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 60px;
    }
}

.widget {
    padding: 5px 0px;
}

.widgetMenu {
    background-color: #b6c9da;
    position: absolute;
    right:10px;
    z-index: 5;
}

.widgetContent {
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .navbar-header {
        float: inherit;
    }
}

.nja-split-view-left,.chooser .list-group-item {
    border: none;
}

.chooser a.list-group-item {
    color: #337ab7;
}
