input, textarea, .dropdown {
    margin-bottom: 5px;
}

body {
    padding: 60px 0px;
}

img {
    width: auto;
    max-width: 100%;
    max-height: 300px;
}

/*add .nja??
*/

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-right span {
    padding-right: 20px;
}

/*make apply this only to this case */
@media (min-width: 0px) {
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
}


.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav li a {
    color: white;
    font-weight: bold;
}

.active .glyphicon {
    color: white;
}

.nja-split-view-left {
    position: absolute;
    top: 60px;
    bottom: 60px;
    z-index: 1;
    overflow-y: scroll;
}

@media(min-width: 1200px) {
    .col-lg-9.nja-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 60px;
    }
}

.widget {
    padding: 10px 0px;
}

.widgetMenu {
    background-color: #b6c9da;
    float: right;
}