<nav class="nja-no-collapse navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                Edit Widget
            </div>
            <a class="navbar-brand navbar-right"
               href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <label for="name">Name</label>
    <input name="name"
           value="Home"
           type="text"
           class="form-control"
           id="name"/>

    <label for="text">Text</label>
    <input name="text"
           type="text"
           placeholder="BLOG"
           class="form-control"
           id="text"/>

    <label for="url">URL</label>
    <input name="url"
           type="text"
           placeholder="https://www.blog.com"
           class="form-control"
           id="url"/>

    <label for="width">Width</label>
    <input name="width"
           type="number"
           placeholder="100%"
           class="form-control"
           id="width"/>

    <label for="fileUpload">Upload</label>
    <input name="fileUpload"
           type="file"
           class="form-control"
           id="fileUpload"/>

    <a class="btn btn-default btn-primary btn-block"
       href="#"
       role="button">Upload Image</a>

    <a class="btn btn-default btn-danger btn-block"
       href="widget-list.view.client.html"
       role="button">Delete</a>
</div>

<!-- Start Footer (same across all pages) -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand navbar-right"
           href="../user/templates/profile.view.client.html">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
<!-- End Footer -->