<nav class="nja-no-collapse navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   role="button">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                Edit Widget
            </div>
            <a class="navbar-brand navbar-right"
               ng-click="model.updateWidget(model.widget)"
               role="button">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ng-include src="model.getWidgetIncludeUrl(model.widget.widgetType)"></ng-include>
</div>

<!-- Start Footer (same across all pages) -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand navbar-right"
           href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
<!-- End Footer -->