<nav class="nja-no-collapse navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a  href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"
                    role="button">
                    <span class="glyphicon glyphicon-chevron-left"></span>
               </a>
                Widgets
            </div>
            </a>
            <a class="navbar-brand navbar-right"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
               role="button">
                <span class="pull-right glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="sortable" wbdv-sortable>
        <div ng-repeat="widget in model.widgets">
            <div ng-switch="widget.widgetType">
                <ng-include src="'views/widget/templates/components/widget.component.client.html'">
            </div>
        </div>
    </div>
</div>

<!-- Start Footer (same across all pages) -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand navbar-left"> <!-- link to where -->
            <span class="glyphicon glyphicon-play"></span>
        </a>
        <a class="navbar-brand navbar-left"> <!-- link to where -->
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a class="navbar-brand navbar-right"
           href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
<!-- End Footer -->