<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-10">
                <a href="../../page/templates/page-list.view.client.html">
                    Wikipedia
                </a>
            </div>
            <div class="col-xs-2">
                <a href="website-edit.view.client.html">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-10">
                <a href="../../page/templates/page-list.view.client.html">
                    Facebook
                </a>
            </div>
            <div class="col-xs-2">
                <a href="website-edit.view.client.html">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-10">
                <a href="../../page/templates/page-list.view.client.html">
                    Reddit
                </a>
            </div>
            <div class="col-xs-2">
                <a href="website-edit.view.client.html">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-10">
                <a href="../../page/templates/page-list.view.client.html">
                    Amazon
                </a>
            </div>
            <div class="col-xs-2">
                <a href="website-edit.view.client.html">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </div>
    </li>
</ul>