<div class="container-fluid">
    <label for="url">URL</label>
    <input name="url"
           ng-model="model.widget.url"
           type="text"
           placeholder="https://www.blog.com"
           class="form-control"
           id="url"/>

    <label for="width">Width</label>
    <input name="width"
           nd-model="model.widget.width"
           type="number"
           placeholder="100%"
           class="form-control"
           id="width"/>

    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <a class="btn btn-default btn-primary btn-block"
       href="#"
       role="button">Upload Image</a>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>
</div>