<div class="container-fluid">
    <label for="name">Name</label>
    <input name="name"
           ng-model='model.widget.name'
           value="Home"
           type="text"
           class="form-control"
           id="name"/>

    <label for="text">Text</label>
    <input name="text"
           ng-model='model.widget.text'
           placeholder="BLOG"
           class="form-control"
           type="text"
           id="text"/>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>
</div>