<div class="container-fluid">
    <label for="name">Name</label>
    <input name="name"
           ng-model='model.widget.name'
           value="Home"
           type="text"
           class="form-control"
           id="name"/>

    <label for="text">Text</label>
    <input name="text"
           ng-model='model.widget.text'
           placeholder="BLOG"
           class="form-control"
           type="text"
           id="text"/>

    <label for="size">Size</label>
    <input name="size"
           ng-model='model.widget.size'
           placeholder="2"
           type="number"
           class="form-control"
           id="size"/>
<!--    <div class="dropdown"
        id="size">
        <button class="btn btn-default dropdown-toggle btn-block"
                type="button" id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
                ng-model='model.widget.size'>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"
            aria-labelledby="dropdownMenu1">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>-->

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>
</div>