<div class="container-fluid">
    <label for="name">Name</label>
    <input name="name"
           ng-model="model.widget.name"
           type="text"
           value="Home"
           class="form-control"
           id="name"/>

    <label for="text">Text</label>
    <input name="text"
           ng-model="model.widget.text"
           type="text"
           placeholder="BLOG"
           class="form-control"
           id="text"/>

    <label for="url">URL</label>
    <input name="url"
           ng-model="model.widget.url"
           type="text"
           placeholder="https://www.youtube.com/watch?something"
           class="form-control"
           id="url"/>

    <label for="width">Width</label>
    <input name="width"
           ng-model="model.widget.width"
           type="number"
           placeholder="100%"
           class="form-control"
           id="width"/>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>
</div>