<div class="container-fluid">
    <label for="name">Name</label>
    <input name="name"
           ng-model='model.widget.name'
           value="Home"
           type="text"
           class="form-control"
           id="name"/>

    <label for="text">Text</label>
    <div ng-model ="model.widget.text"
         text-angular
         ta-toolbar ="[['h1','h2','h3'],
             ['bold','italics','underline','strikeThrough'],
             ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
             ['indent','outdent'],
             ['html']]"
         id="text"
         class="text-angular-input">
    </div>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>
</div>